@font-face {
    font-family: 'preetinormal';
    src: url('preeti-webfont.eot');
    src: url('preeti-webfont.eot?#iefix') format('embedded-opentype'),
         url('preeti-webfont.woff2') format('woff2'),
         url('preeti-webfont.woff') format('woff'),
         url('preeti-webfont.ttf') format('truetype'),
         url('preeti-webfont.svg#preetinormal') format('svg');
    font-weight: normal;
    font-style: normal;

}